[url "git@github.com:jaimeferj/"]
  insteadOf = "gh:"

[user]
	email = jaimefdez7@gmail.com
	name = Jaime Fernández
[merge]
	tool = vimdiff
	conflictstyle = diff3
[push]
	autoSetupRemote = true

[includeIf "gitdir:~/work/**"]
  path = ~/work/.gitconfig
